h1{
  color:Blue;
}
.container{
  background-image:url("https://www.publicdomainpictures.net/pictures/80000/velka/soft-purple-sunset.jpg")

}
Body{
  background-color: purple;

}
.navbar li {
  display: inline-flex;
}



.login {
  float: right;
}
.login a{
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #191970

}
.login a:active {
  position:relative;
  top: 3px;
 }
.cotton candy{
  color:pink;
}
.sky{
  color:blue;
}
.royal{
  color:purple;
}
