h1{
  color:Blue;
}
.container{
  background-image:url("https://www.publicdomainpictures.net/pictures/80000/velka/soft-purple-sunset.jpg")

}
Body{
  background-color: purple;
}
.navbar li {
  display: inline-flex;
}



.login {
  cursor: pointer;
  float: right;
}
.login a:active {
position:relative;
top:5px;
 }
